body{
    background-color:rgb(215,237,236);
    margin:0;
    font-family: Roboto;
}

.description{
    background-color: rgb(201, 229,246);
    display:flex;
    justify-content:center;
    padding-top: 50px;
    padding-bottom:30px;
    font-weight:550;
    font-size:35px;
    color:rgb(118, 64, 121);
    box-shadow: 2px 2px rgba(0,0,0,0.3);
}

.questions{
    display:flex; 
    justify-content:center;
    padding-top:150px;
    align-items:center;
    flex-direction:column;
}

input, select{
    padding:0;
    height:30px;
    margin-top: 5px;
    width:200px;
}

p{
     color:rgb(118, 64, 121);
     font-size:25px;
     font-weight:500;
}

.nextButton{
    height: 45px;
   width: 125px;
   background-color: rgb(165,90,170);
   color: rgb(215,237,236);
   font-weight: bold;
   border-color: transparent;
   border-radius: 22.5px;
   font-size:17px;
   position:fixed;
   bottom: 150px;
   right:400px;
   cursor:pointer;
}

.nextButton:hover{
    scale:1.1;
    transition-duration: 0.1s;
    background-color: rgb(118, 64, 121);
    color: rgba(243, 243, 48, 0.929);
}
